.list-decoration-none{
	list-style: none;
	text-decoration: none;
}

.card-image{
	background-size: cover;
	background-position: center center;
}

.btn-purple{
	color: #fff;
    background-color: #321872 ;
    border-color: #321872 ;
}

.bg-purple{
	color: #fff;
	background-color: #321872 !important;
	}

	.btn-orange{
		color: #fff;
    background-color: #FF5722 ;
    border-color: #FF5722 ;
	}

.whidt{
	width: 33.3%;
}